/* src/components/Hero.css */

.hero-section {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  color: white;
  overflow: hidden;
}

.content-wrapper {
  width: 1400px;
  margin: auto;
}

@media (max-width: 768px) {
  .content-wrapper {
    margin: 0 auto;
    text-align: center;
  }
}
.hero-normal-text{
    font-size: 116px;
}
.hero-title{
    margin-bottom: 55px;
}
.hero-title .hero-heading-animation {
  font-size: 116px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #81d742, #00c6ff, #000);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradientMove 5s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

@media (max-width: 600px) {
  .hero-title {
    font-size: 2.5rem;
  }
}

.hero-paragraph {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #fff;
}

.animated-button {
    position: relative;
    padding: 14px 40px;
    font-size: 1.2rem;
    border: none;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #81d742, #00c6ff, #81d742);
    background-size: 200%;
    background-position: left;
    transition: all 0.4s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .animated-button:hover {
    background-position: right;
    transform: scale(1.05);
    box-shadow: 0 0 8px #81d742, 0 0 11px #00c6ff;
    color: #000;
    text-decoration: none;
  }
  