
@font-face {
  font-family: 'drunk-tank-stressed';
  src: url('./assets/drunk-tank/DrunkTank-StressedOut.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: 'drunk-tank-regular';
  src: url('./assets/drunk-tank/DrunkTank-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'drunk-tank-rough';
  src: url('./assets/drunk-tank/DrunkTank-Rough.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'drunk-tank-round';
  src: url('./assets/drunk-tank/DrunkTank-Round.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
h1, h2, h3 {
  font-family: Kanit, sans-serif;
}